<!DOCTYPE html>
<html lang="en">
  	<head>
		<%-include('./part/head');%>
  	</head>
	<body>
		<%-include('./part/header');%>
		<main>
			<div class="container-post_trend">
				<div class="container-post_lists"></div>
				<div class="container-post_charts"></div>
			</div>
			<div class="container-post_datas">
				<table>
					<thead>
						<th>content\day</th>
						<% for(let i =0; i<7; i++){%>
							<th><%= i %></th>
						<% } %>
					</thead>
					<tbody>
						<% for(let i =0; i<7; i++){%>
							<!-- tr에는 하나의 게시물에 대한 정보가 들어가 있어야함 -->
							<tr>
								<th>
									<%= postUrls[i] %>
									<%= postUrls[i].uploadTime %>
								</th>
								<!-- 열안에 th에서는 행을 대표하는 게시물의 정보가 들어가 있어야함 -->
								<% for(let j =0; j<7; j++){%>
									<td>
										<%= details[i][j] %>
									</td>
								<% } %>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</main>
	</body>
</html>
