<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./part/header');%>
  </head>
  <body>
    <nav id="navigation_bar">
      <ul class="menu_list">
        <a class="menu_list summary" href="/data/summary"><li>Summary</li></a>
        <a class="menu_list naver" href="/data/naver"><li>Naver</li></a>
        <a class="menu_list kakao" href="/data/kakao"><li>Kakao</li></a>
      </ul>
    </nav>
    <div class="container">
      <div class="container-post_trend">
        <div class="container-post_lists">
          <!-- 반복문 들어가야함 -->
          <% 
            for(let i = 0; i<posts.length; i++){ 
              let post = posts[i];
              let titleName = '';
              if(post.title.length > 25){
                titleName = post.title.slice(0, 25) + '...';
              }else{
                titleName = post.title
              }
          %>
          <div class="eachpost">
            <img src=<%= posts[i].img %> />
            <div class="eachpost_desc">
              <span class="eachpost_desc-title"><%= titleName %></span>
              <span class="eachpost_desc-date"> <%= post.uploadTime.toDateString() %> </span>
            </div>
          </div>
          <%}%>
        </div>
        <div class="container-post_charts"></div>
      </div>
      <div class="container-post_datas">
        <table>
          <thead>
            <th>content\day</th>
            <% for(let i =0; i<14; i++){%>
              <th><%= i %></th>
            <% } %>
          </thead>
          <tbody>
            
              <!-- 반복문 들어가야함 -->
              <% 
                for(let i = 0; i<posts.length; i++){ 
                  let post = posts[i];
                  let titleName = '';
                  if(post.title.length > 25){
                    titleName = post.title.slice(0, 25) + '...';
                  }else{
                    titleName = post.title
                  }
              %>
                <tr>
                  <td>          
                    <div class="post_datas-eachpost">
                      <img src=<%= posts[i].img %> />
                      <div class="eachpost_desc">
                        <span class="eachpost_desc-title"><%= titleName %></span>
                        <span class="eachpost_desc-date"> <%= post.uploadTime.toDateString() %> </span>
                      </div>
                    </div>
                  </td>
                  <!-- post_datas-eachpost_data를 반복문으로 데이터를 끌어와야 함 -->
                  <!-- dayDataController에 fetch로 url값을 보내고 해당하는 ㄷ에이터를 일자별로 가져옴 -->
                  <% for(let i = 0; i< 14; i++){ %>
                    <td class="post_datas-eachpost_data">
                      <%= post.views %> 
                      <br> 
                      <%= post.likes%>
                      <br> 
                      <%= Math.floor((post.crawledTime.getTime()-post.uploadTime.getTime())/(1000*60*60*24))%>
                    </td>
                  <% } %>
                </tr>
              <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
